.section{
    margin-top: 2%;
}

  .text-navy-700 {
    color: #34495E;
  }
  .bg-emerald-500 {
    background-color: #4CAF50;
   
    //background-color: #FFD700;
      
  }
  .hello{
    margin-top: 4%;
  }
  @keyframes scroll {
    0% {
      transform: translateX(0); /* Start at the beginning */
    }
    100% {
      transform: translateX(-100%); /* Scroll left and hide the first set */
    }
  }
  
  .animate-scroll {
    display: flex;
    animation: scroll 40s linear infinite; /* Adjust speed */
  }
  
  .animate-scroll > .grid {
    flex-shrink: 0;
    width: 100%;
  }
  